body {
  font-family: "Inter", system-ui, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

.primary-bg {
    background-color: #17693D;
    display: inline-block;
    border-radius: 15px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 6px 2px;
  z-index: 1000;
  box-shadow: none;
  background: #ffffff;
  background-image: url("../img/line-bg.webp");
}



.navbar-nav .nav-link {
    font-weight: 600;
    color: #000000;
}

.navbar img {
    /* filter: brightness(0); */
}

.navbar-toggler:focus {
    box-shadow: none;
}



/* ALIGNMENT FIX */
.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    top: 95%;
    left: 5%;
}

/* CALL BUTTON */
.custom-call-btn {
    padding: 10px 24px;
    background: #17693D;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}



/* MOBILE BOTTOM BAR (FINAL DESIGN) */
.mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1px solid #ccc;
    display: none;
    z-index: 2000;
}

.mobile-bottom-bar .bottom-btn {
    width: 33.33%;
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #17693D;
    border: none;
    outline: none;
    text-decoration: none;
}

.mobile-bottom-bar .bottom-btn:nth-child(1),
.mobile-bottom-bar .bottom-btn:nth-child(2) {
    border-right: 1px solid #ccc;
}

.mobile-bottom-bar .bottom-btn:active {
    background: #f3f3f3;
}

.form-call {
    background: #17693D;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    transition: .3s;
    display: flex;
    width: 100%;
    padding: 5px 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/* ------------------index css --------------------- */

 
   #banner {
  position: relative;
  padding: 6rem 3rem 3rem 1rem;
  height: 97vh;
  background-image: url("../img/eldeco-g-6.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Transparent overlay */
#banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.63); 
  z-index: 1;
}

/* Keep content above overlay */
#banner .container-fluid,
.banner-description {
  position: relative;
  z-index: 2;
}

    .banner-description {
      padding: 40px 20px;
      width: 40%;
      height: 100%;
      text-align: center;

    }

    .launch-text {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1px;
      color: #ffffff;
      margin-bottom: 12px;
    }



    /* Project name */
    .project-name h1 {
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      margin: 0;
    }

    .project-name h3 {
      font-size: 19px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 6px;
      color: #fff;
    }

    .price-box span{
      font-size: 22px !important;
      font-weight: 600;
    }

    /* Distance strip */
    .location-strip {
      display: inline-block;
      margin: 14px 0 22px;
      padding: 6px 12px;
      border: 2px solid #17693D;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #000;
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      background-color: #17693D;
      z-index: 3;
    }
    .location-strip span{
      font-size: 21px;
    }

    .project-banner-highlight {
      position: relative;
      width: 100%;
      padding: 2rem 1rem 1rem 1rem;
      margin-top: 2rem;
      color: #fff;
      border-radius: 4px;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* animated border only */
    .project-banner-highlight::after {
      content: "";
      position: absolute;
      inset: 0;
      padding: 3px;
      border-radius: 4px;
      border: 2px solid #fff;
      background-size: 300% 100%;animation: borderMove 2.5s linear infinite;
      pointer-events: none;
    }

  


    .project-banner-highlight p {
      margin: 6px 0;
      font-size: 19px;
      color: #fff;
      text-align: start;
    }

    /* Price section */
    .project-price {
      margin-top: 28px;
    }

    .project-price .area {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    .price-box {
     
      display: inline-block;
      background-color: #17693D;
      color: #fff;
      margin-bottom: 6px;
      width: 100%;
      position: relative;
      padding: 8px 12px;
      margin-top: 1rem;
    }

 

    .project-price small {
      display: block;
      font-size: 12px;
      color: #555;
    }

    .banner-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }



  #project-overview {
      margin-top: -3rem;
      padding: 0rem 0 3rem;
      background-color: #F4F0E9;
      position: relative;
      z-index: 2;
  }


  .sec-title {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.3;
      color: #222;
  }

  .project-btn a {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 12px 28px;
      background-color: #17693D;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 6px;
      text-decoration: none;
      border: 2px solid #17693D;
      transition: 0.3s;
  }

  .project-btn a i {
      font-size: 1.1rem;
  }

  .project-btn a:hover {
      background-color: transparent;
      border: 2px solid #17693D;
      color: #17693D;
  }


  .sec-text {
      font-size: 1.05rem;
      color: #555;
  }

  .overview-img img {
      width: 80%;
      height: 35rem;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.12);
  }
 

 


  .banner-form-section {
      display: none;
  }

  .banner-form {
     
      border-radius: 12px;
      padding: 2rem;
      width: 100%;
      max-width: 450px;
      box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.12);
  }

  .banner-form h3 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      font-weight: 700;
      color: #222;
  }

  .input-box {
      position: relative;
      margin-bottom: 1rem;
  }

  .input-box i {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
      font-size: 1rem;
  }

  .input-box input {
      width: 100%;
      padding: 12px 14px 12px 38px;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
      font-size: 1rem;
      transition: 0.3s;
  }

  .input-box input:focus {
      border-color: #17693D;
      box-shadow: 0 0 0 2px rgba(229, 112, 42, 0.2);
  }

  .btn-submit {
      width: 100%;
      background: #17693D;
      color: #fff;
      border: none;
      padding: 12px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s;
  }

  .btn-submit:hover {
      background: #c95e22;
  }

  .btn-call {
      display: block;
      width: 100%;
      margin-top: 0.8rem;
      text-align: center;
      padding: 12px;
      background: #000;
      color: #fff;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s;
  }

  .btn-call:hover {
      background: #333;
  }


#overview {
    padding: 4rem 0;
    background: #F4F0E9;
    background-image: url("../img/white-bg.png");
    position: relative;
    overflow: hidden;
}



#overview .container {
    position: relative;
    z-index: 2;
}

/* IMAGE */
.overview-image {
    position: relative;
    width: 100%;
    height: 30rem;
}

.overview-image img {
    width: 100%;
    height: 100%;
    border: 6px solid #fff;
}



.overview-image::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -42px;
    width: 200px;
    height: 350px;
    background-image: radial-gradient(circle, rgba(118, 112, 112, 0.281) 2px, #56555500 2px);
    background-size: 8px 8px;
    z-index: -1;
}

.overview-image {
    position: relative;
}



/* TEXT */
.overview-content h1 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.overview-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #111;
}

.overview-content p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 1.2rem;
}

.overview-points {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
    color: #000;
}

.overview-points li {
    margin-bottom: .4rem;
    font-weight: 600;
    position: relative;
    padding-left: 22px;
}

.overview-points li::before {
    content: "â€º";
    position: absolute;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    color: #133c55;
}









  #price {
      padding: 4rem 0rem;
      background-image: url("../img/line-bg.webp");
  }

  .pricing-container {
      display: flex;
      justify-content: center;
      gap: 60px;
      padding: 60px 0;
  }

  .pricing-card {
      position: relative;
      border-radius: 6px;
  }

  .white-card {
      background-color: rgb(240, 240, 238);
      padding: 35px;
      border-radius: 6px;
      text-align: left;
      position: relative;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  }

  .white-card h2 {
      font-size: 32px;
      margin: 0;
      font-weight: 600;
  }

  .onwards {
      margin-top: 5px;
      font-size: 17px;
      color: #555;
  }

  .line {
      height: 1px;
      width: 100%;
      background: #dcdcdc;
      margin: 25px 0;
  }

  .card-type {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 5px;
  }

  .card-size,
  .projects {
      font-size: 20px;
      color: #555;
  }

  .green-bar {
      height: 10px;
      background: #000;
      width: 100%;
  }

  .card-bottom {
      padding: 18px;
      text-align: center;
      color: #fff;
      border-radius: 0 0 6px 6px;
  }

  .price-card-bg {
      background: linear-gradient(45deg, #17693D, #0a4064);
  }

  .purchase-btn {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 15px;
  }


  #highlight {
      padding: 4rem 0rem;
      background-color: #F4F0E9;
      position: relative;
  }

  #highlight::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: url("../img/eldeco-g-7.webp");
      border-left: 5px solid #000;
      background-size: cover;
      background-position: center;
      z-index: 0;
  }

  .highlight-points {
      max-width: 60%;
      background-color: #fff;
      padding: 2rem;
      border-radius: 8px;
      position: relative;
      z-index: 2;
  }

  .highlight-points .sec-title {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      color: #222;
  }

  .points-list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .points-list li {
      padding: 1rem 0;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: #333;
  }

  .points-list li:last-child {
      border-bottom: none;
  }

  .points-list li i {
      color: #c95e22;
      margin-right: 12px;
  }


  #amenities {
      padding: 4rem 0;
      background: url("../img/white-grey-bg.webp");
  }

  .amenities-title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
  }

  .amenities-text {
      font-size: 1.1rem;
      color: #555;
  }

  /* Carousel Capsule Card */
  .amenity-card {
      background-color: #fff;
      background-image: url("../img/line-bg.webp");
      border-radius: 50px;
      padding: 2rem;
      min-height: 400px;
      text-align: center;
      transition: 0.3s ease;
  }

  .amenity-card:hover {
      transform: translateY(-8px);
  }

  /* Capsule Image */
  .amenity-img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 1rem;
      border: 3px solid #ddd;
  }

  .amenity-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  /* Rating */
  .rating {
      font-size: 1.3rem;
      color: gold;
      margin-bottom: 0.7rem;
  }

  /* Description */
  .amenity-desc {
      font-size: 0.95rem;
      color: #666;
      line-height: 1.6;
      margin-top: 0.5rem;
  }

  #virtual-visit {
      position: relative;
      padding: 0 4rem;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../img/virtual_site.webp');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      text-align: center;
      overflow: hidden;
  }

  .visit-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
      z-index: 1;
  }

  .visit-content {
      position: relative;
      z-index: 2;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .visit-content h2 {
      font-size: 2.6rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
  }

  .visit-content p {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
  }

  /* Play Button */
  .play-btn {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background: #ffffff;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      position: relative;
      cursor: pointer;
  }

  /* Wave Animation */
  .pulse,
  .pulse2 {
      position: absolute;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 100%;
      animation: pulse-animation 2.2s infinite;
  }

  .pulse2 {
      animation-delay: 0.8s;
  }

  @keyframes pulse-animation {
      0% {
          transform: scale(1);
          opacity: 0.7;
      }

      100% {
          transform: scale(2.4);
          opacity: 0;
      }
  }

  .play-btn i {
      position: relative;
      z-index: 3;
  }


   #floorplan h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #222;
   }

  .floorplan-section {
      background: #fff;
      padding: 60px 20px;
      text-align: center;
          background: url(../img/white-grey-bg.webp);
  }

  .floorplan-container {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 1000px;
  }

  .floorplan-img {
      width: 100%;
      display: block;
      border-radius: 12px;
      filter: blur(3px) brightness(0.7);
  }

  /* Button Overlay */
  .floorplan-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 14px 32px;
      font-size: 1.1rem;
      font-weight: 500;
      border: none;
      border-radius: 30px;
      background: #ffffff;
      color: #000000;
      cursor: pointer;
      transition: 0.3s ease-in-out;
  }

  .floorplan-btn:hover {
      background: #da6b2b;
      color: #ffff;
  }




  .location-section {
      padding: 80px 0;
      background: #f9f9f9;
  }

  .location-content {
      display: flex;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
  }

  /* Text side */
  .location-text {
      flex: 1 1 45%;
  }

  .location-text h2 {
      font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #222;
  }

  .location-text p {
      font-size: 1.1rem;
      margin-bottom: 30px;
      color: #555;
  }

  .advantage-list {
      list-style: none;
      padding: 0;
      margin: 0 0 40px 0;
  }

  .advantage-list li {
      font-size: 1rem;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      color: #333;
      padding: 12px;
      border: 1px solid #000;
  }

  .advantage-list li i {
      color: #17693D;
      margin-right: 12px;
      font-size: 1.2rem;
  }

  .btn.btn-primary {
      display: inline-block;
      padding: 14px 28px;
      background: #da6b2b;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 4px;
      transition: background 0.3s ease;
  }

  .btn.btn-primary:hover {
      background: #da6b2b;

  }


  /* Image side */
  .location-image {
      flex: 1 1 45%;
      text-align: center;
  }

  .location-image img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      transition: transform 0.5s ease;
  }

  .location-image img:hover {
      transform: scale(1.03);
  }




















  #gallery {
      padding: 4rem 0 2rem 0;
      background-color: #fdfdfd;
      background-image: url("../img/line-bg.webp");
      text-align: center;
      position: relative;
  }

  .gallery-title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
      color: #222;
  }

  /* Carousel item */
  .gallery-item {
      overflow: hidden;
      transition: 0.4s ease;
  }

  .gallery-item img {
      width: 100%;
      height: 460px;
      object-fit: cover;
      transition: transform 0.5s ease;
  }

  .gallery-item:hover img {
      transform: scale(1.08);
  }

  .gallery-imageslider {
      position: relative;
      padding: 3px 0px;
      overflow: hidden;
  }

  .gallery-imageslider::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 6rem;
      top: -3rem;
      left: 0;
      border-radius: 100%;
      z-index: 2;
      background: #ffffff;
      background-image: url("../img/line-bg.webp");
      overflow: hidden;
  }

  .gallery-imageslider::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6rem;
      bottom: -3rem;
      left: 0;
      border-radius: 100%;
      z-index: 2;
      background: #ffffff;
      background-image: url("../img/line-bg.webp");
      overflow: hidden;
  }

  /* Navigation Buttons */
  .gallery-nav {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #17693D;
      color: #fff;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      font-size: 18px;
      cursor: pointer;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease;
  }

  .gallery-prev {
      left: 15%;
  }

  .gallery-next {
      right: 15%;
  }

  .gallery-nav:hover {
      background: #0a4166;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }








 
    @media(max-width: 768px) {
    
      .footer-about .call-box{
        margin-bottom: 1rem;
      }
    }






    @media (max-width: 768px) {
      #about h2 {
        font-size: 1.8rem;
      }
    }
 








.main-footer {
    background-color: #fff;
    background-image: url("../img/map_bg.png");
    color: #000000;
    padding: 60px 0 25px;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.main-footer .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-about h3,
.footer-form h3 {
    color: #17693D;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-about p {
    line-height: 1.6;
    margin-bottom: 12px;
    color: #000000;
}

.footer-about .call-box {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.footer-about .call-box i {
    background: #17693D;
    color: #fff;
    padding: 14px;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 18px;
}

.footer-form {
    padding: 20px;
    min-width: 400px;
    border-radius: 15px;
    background-color: #F4F0E9;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-form input {
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
}

.footer-form button {
    background: #17693D;
    color: #fff;
    padding: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.footer-form button:hover {
    background: #1a4242;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 45px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

.footer-bottom a {
    color: #17693D;
    text-decoration: none;
}



@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
    .banner-description{
        width: 44%;
    }
    .navbar-brand img {
        width: 110px;
    }
    .location-strip{
      width: 85%;
    }


}


@media(max-width:900px) {
    .navbar-brand img {
        width: 100px;
    }
    #overview::before {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }

    #price::before {
        width: 60%;
    }
}



@media(max-width:768px) {
 
    .overview-image img {
        height:100%;
        object-fit: contain;
        margin-bottom: 1.5rem;
    }

    .price-title {
        padding-bottom: 12px;
    }

  
    .highlight-section h2 {
        padding: 1rem 0rem;
    }

    .content-list {
        padding: 1rem;
    }

    #location-section::before {
        display: none;
    }

    .overview-content h2 {
        font-size: 1.7rem;
    }

    #price::before {
        width: 100%;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    .price-card {
        margin-top: 1.5rem;
    }
     .amenities-heading h2 {
    font-size: 30px;
  }

  .amenities-heading p {
    font-size: 16px;
  }

  .amenities-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

 

    .content-list {
        padding: 2rem 1.5rem;
        margin-top: 0;
        border-radius: 0;
    }

    .list-item {
        font-size: 1.05rem;
        line-height: 1.45;
    }

    .list-item .num {
        padding: 5px 12px;
        font-size: 1rem;
    }
    .footer-form{
       min-width: 100%;
    }

}



@media (max-width: 991px) {
  h2{
    font-size: 26px !important;
  }
  #banner{
    padding: 6rem 1px 20px 1px ;
    height: auto;
  }
 .banner-description{
  width: 100%;
  padding: 12px;
 }
 .banner-holder{
  flex-direction: column;
 }
 .location-strip{
  width: 88%;
 }
 #highlight img{
     height:250px;
 }
 .amenity-img {
    width: 140px;
    height: 140px;
 }
 .location-image img{
      height:100%;
 }
 .gallery-item img{
     height:300px;
 }
 .gallery-imageslider::before ,.gallery-imageslider::after{
     display:none;
 }
 
  #about .banner-form{
    margin-bottom: 1rem;
  }
  .apartment-pricing-section{
    padding: 40px 0px;
  }
  .highlight-points{
    max-width: 100%;
  }
  #highlight::before{
    display: none;
  }
.white-card h2{
  font-size: 20px;
}
#price{
  padding: 2rem 0rem;
}
.card-bottom{
  padding: 12px;
}
.highlight-points{
  padding: 1rem;
}
#overview{
  padding: 2rem 0rem;
}
.banner-form{
  padding: 0rem;
}
.floorplan-btn{
  width: 70%;
}
.location-text h2{
  font-size: 2rem;
}
.location-section{
  padding: 30px 0px;
}
.green-bar{
  height: 4px;
}
.sec-title{
  font-size: 1.7rem;
}
  .price-value {
    font-size: 28px;
  }
    .mobile-bottom-bar {
        display: flex;
    }
   
}
